<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        *{
            outline: 1px dotted pink;
        }
        /* body{
            width: 860px;
        } */
        form{
            outline: 2px solid black;
            width: 420px;
            line-height: 50px;
        }


    </style>
</head>
<body>
    <form action='/result' method='post'>
        <div class="section">Your Name: 
            <input type='text' name='name'>
        </div>
        <div class="section">Dojo Location: 
            <select name="location">
                <option value = "" disabled = "disabled" selected = "selected">Please select a location</option>
                <option value = "San Jose">San Jose</option>
                <option value = "Santa Clara">Santa Clara</option>
                <option value = "San Fransisco">San Fransisco</option>
            </select>
        </div>
        <div class="section">Favorite Language: 
            <select name="language">
                <option value = "" disabled = "disabled" selected = "selected">Please select a location</option>
                <option value = "Python">Python</option>
                <option value = "JavaScript">JS</option>
                <option value = "Pig Latin">Pig Latin</option>
            </select>
        </div>
        <div class="section">Comment (optional): 
            <textarea name="comment"></textarea><br>
            <input type='submit' value='Button'>
        </div>
    </form>
</body>
</html>

