<!DOCTYPE html>

<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <title>Books</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>


    <style>

    .container{
        min-height: 1020px;
        min-width: 1020px;
    }
    .top {
        width: 1020px;
        /* border: 1px solid white; */
        margin: auto;
    }
    .top p{
        color: white;
    }
    .addbooktitle{
        font-size: 26px;
        /* font-weight: bold; */
    }
    .allbooks{
        font-size: 26px;
    }
    </style>


    <body>

        <div class="container">
            
            <nav class="navbar navbar-dark bg-dark">

            <div class="top">
                <p>Welcome {{ session['user'][0]['username'] }}!  </p>

                <div class="logout">
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a href="/logout" class="nav-link active">Log Out</a>
                        </li>
                    </ul>
                </div>
            </div>
            </nav>      

        <div class="container px-lg-5">
            <div class="row mx-lg-n5">
        
                <div class="col py-3 px-lg-5 border bg-light">
                    <p class="addbooktitle">Add a Favorite Book</p>

                    <form action='/addbook' method='POST'>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Title:</label>
                            <input type="text" class="form-control" name="book_title">
                        <div class="form-group">
                            <label for="examplefoorcontroltextarea1">Description:</label>
                            <textarea type="text" class="form-control" name="book_desc" rows="5"></textarea>
                        </div>
                                <p><input type="submit" value="Add"></p>
                        </div>
                    </form>

                </div>

                <div class="col py-3 px-lg-5 border bg-light">

                    <p class="allbooks">All Books</p>

                    {% for addedbook in addedbooks %}

                        <h4><a href="/books/{{ addedbook['id'] }}" > {{ addedbook['title'] }} </a></h4>

                        <p>(added by {{ addedbook['username'] }})</p>

                        {%  for favbook in favbooks %}
                            {% if addedbook.id == favbook.bookid %}
                            {% if favbook.id == session['user'][0]['id'] %}
                                <p>This is one of your favorites</p>
                            {% endif %}
                            {% endif %}
                        {% endfor %}

                    {% endfor %}


                </div>
            </div>
        </div>

        </div>

    </body>



</html>
